name: compile
on: [push]

permissions:
  contents: write
  actions: read
  checks: read
  deployments: write
  issues: read
  packages: read
  pull-requests: none
  repository-projects: read
  security-events: read
  statuses: write

jobs:
  compile:
    runs-on: ubuntu-20.04

    steps:
    - name: Checkout_git
      uses: actions/checkout@v3
      with:
        # We must fetch at least the immediate parents so that if this is
        # a pull request then we can checkout the head.
        fetch-depth: 15
    - name: install_packages
      run: |
           sudo apt-get update
           sudo apt-get install runc containerd docker.io
           sudo systemctl unmask docker
           sudo systemctl start docker
           sudo systemctl status docker
    - name: start_docker
      run: |
           sudo usermod -aG docker $USER
           sudo gpasswd -a $USER docker
           id -nG
    - name: build_appimage
      run: |
           "./build_appimage.sh"
           chmod a+x wxmaxima-x86_64.AppImage
           ls -lh
     - name: Test for Appimage
       run: |
            if [ ! -s "wxmaxima-x86_64.AppImage" ]; then echo "AppImage wasn't created!"; fi
#    - name: build_flatpack
#      run: |
#           sudo apt-get install flatpak flatpak-builder
#           sudo flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
#           flatpak install --or-update flathub org.gnome.Sdk//42 org.gnome.Platform/x86_64/42 -y
#           flatpak-builder tmp org.flatpak.wxmaxima.yml
    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
            files: wxmaxima-x86_64.AppImage
